*_files/
/.quarto/
_freeze/
_manuscript/
_site/
docs/
*.quarto_ipynb
.DS_Store
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

task4/brats_segmentation/__pycache__
task4/.pytest_cache/

dataset_sample/
dataset_sample.tar.gz

/task4/brats_segmentation/wandb/
wandb/
