.question {
    background-color: #f9f9f9;
    border-left: 4px solid #4caf50;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.question::before {
    content: "Q:";
    font-weight: bold;
    color: #4caf50;
}

.answer::before {
    content: "Solution:";
    font-weight: bold;
    color: #5174de;
}


.question:hover,
.answer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question,
.answer {
    transition: box-shadow 0.3s ease;
}